<mat-card class="auction-card">
  <mat-card-header>
    <mat-card-title>{{ auction?.title }}</mat-card-title>
    <mat-card-subtitle>Ends: {{ auction?.endDate | date: 'shortDate' }}</mat-card-subtitle>
  </mat-card-header>
  <app-auction-image [image]="auction.image!"></app-auction-image>
  <mat-card-content>
    <p>
      {{ auction?.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button [routerLink]="['/auction', auction.id]">View</button>
    <button mat-stroked-button color="warn" (click)="deleteEmitter.emit(auction.id)">Delete</button>
    <mat-chip-list aria-label="Auction Status">
      <mat-chip disabled selected="true" color="accent">
        {{ auction | isActive }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
